# Assignment 3

Please do not change, delete or edit any cells. Write your code in between designated lines.

## Question 1 (15 points)

In [25]:
# Create a dictionary named dict1 then add key and values.
# When you print output of dict1 will be shown as {'Peas': 55, 'Canola': 66, 'Oat': 65}.

## Your code here - down ##
dic1 = {}
dic1['Peas'] = 55
dic1['Canola'] = 66
dic1['Oat'] = 65
dic1
## Your code here - up ##

{'Peas': 55, 'Canola': 66, 'Oat': 65}

In [26]:
# In this cell you need to change the assigned value of Peas to 66 and print dict1 again.

## Your code here - down ##
dic1['Peas'] = 66
dic1
## Your code here - up ##

{'Peas': 66, 'Canola': 66, 'Oat': 65}

In [27]:
# Now use For Loop and print values and key inside dict1. Your output will look like:
# Peas
# 66
# and so on.

## Your code here - down ##
for key, value in dic1.items():
    print(key)
    print(value)
## Your code here - up ##

Peas
66
Canola
66
Oat
65

## Question 2 (30 points)

In [33]:
ls = [2,7,9, 4]

# Method 1
# Ceate a list that consist of square of ls values.

## Your code here - down ##
l_square = []
for l in ls:
   l_square.append(l**2)
print(l_square)
## Your code here - up ##

[4, 49, 81, 16]

In [34]:
# Method 2

## Your code here - down ##
[l**2 for l in ls]
## Your code here - up ##

[4, 49, 81, 16]

## Question 3 (55 points)

In [75]:
import numpy as np
ar_1 = np.array([[3, 4, 5],
                 [3, 4, 5]])

# What is shape of the array?

## Your code here - down ##
ar_1 = np.array([[3, 4, 5],
                 [3, 4, 5]])
print(ar_1.shape)
## Your code here - up ##

(2, 3)

In [72]:
ar_2 = ([[3, 4, 5],
         [8, 4, 1]])
# Print first row of ar_2

## Your code here - down ##
ar_2[0]
## Your code here - up ##

[3, 4, 5]

In [86]:
# Write a code that will print 1 in ar_2.

## Your code here - down ##
ar_2[1,2]
## Your code here - up ##

TypeError: list indices must be integers or slices, not tuple

In [94]:
# Print entire mean of ar_2

## Your code here - down ##
np.mean(ar_2)
## Your code here - up ##

4.166666666666667

In [92]:
# Print each columns' mean

np.mean(ar_2, axis=1)
## Your code here - up ##

array([4.        , 4.33333333])

In [89]:
# Print entire standard deviation  of ar_2

## Your code here - down ##
np.std(ar_2)
## Your code here - up ##

2.1147629234082532

In [90]:
# Print each rows' standard deviation.

## Your code here - down ##
np.mean(ar_2, axis=1)
## Your code here - up ##

array([4.        , 4.33333333])

In [97]:
# Find the difference between mean and median of entire ar_2.

## Your code here - down ##
np.mean(ar_2)-np.median(ar_2)
## Your code here - up ##

0.16666666666666696

Are mean and median same? If they are different, explain what does that mean.

Please explain below in this cell only.