# Assignement 2

Please do not change, delete or edit any cells. Write your code in between designated lines.

## Question 1 (10 points)

In [1]:
# Can your print the letters of Agriculture by using for loops. Your output will look like this:
# A
# g
# r
# i
# c
# u
# l
# t
# u
# r
# e

## Your code here - down ##
string_name = "Agriculture"
for element in range(0, len(string_name)):
    print(string_name[element])
## Your code here - up ##

A
g
r
i
c
u
l
t
u
r
e

## Question 2 (40 Points)

In [6]:
# Find the sum of numbers from 1 to 50(including) by using for loops.

## Your code here - down ##

sum = 0
for i in range(1, 51):
    sum = sum + i
print(sum)
## Your code here - up ##

1275

## Question 3 (50 points)

In [13]:
# Now let's find sum of even and odd numbers from 1 to 50 (including). Are the results same?

# Sum of even  numbers
sum = 0
for i in (range(0, 51, 2)):
    sum = sum + i
print(sum)
## Your code here - down ##
sum = 0
for i in range(0, 51):
   if(i % 2 == 1):  
    sum = sum + i
print(sum)
## Your code here - up ##

650
625

In [15]:
# Sum of odd numbers

## Your code here - down ##
n=int(input("Enter n value:"))
sum=0
for i in range(1,n+1,2):
    sum+=i
print(sum)
## Your code here - up ##

Enter n value:50
625

In [7]:
# In this cell explain the difference.