# Assignment 4


Please do not change, delete or edit any cells. Write your code in between designated lines.

## Question 1 (25 points)

In [ ]:
# Please go to Palette_training_4 GitHub repo and 
# 1. Read Sask_RM_data.csv.
# 2. Rename column namse Crop Year, Canola - bu/ac, Spring Wheat - bu/ac with
# Year, Canola, SpringWheat respectively.

In [13]:
# 1. Read csv file by using pandas 

## Your code here - down ##
import pandas as pd # Library for data handling
import numpy as np # matrix operations
import matplotlib.pyplot as plt
import seaborn as sb
plt.rcParams['figure.figsize'] = (20, 12)
df = pd.read_csv('Sask_RM_Data.csv')
df.head()
## Your code here - up ##

   Crop Year  RM  Canola - bu/ac  Spring Wheat - bu/ac
0       2012   1            22.3                  36.2
1       2012   2            28.6                  37.2
2       2012   3            25.1                  39.4
3       2012   4            21.6                  31.6
4       2012   5            26.8                  29.0

In [15]:
# 2. Rename columns

## Your code here - down ##

df.rename(columns={"Crop Year": "Year","Canola - bu/ac": "Canola", "Spring Wheat - bu/ac": "SpringWheat" })
## Your code here - up ##

      Year   RM  Canola  SpringWheat
0     2012    1    22.3         36.2
1     2012    2    28.6         37.2
2     2012    3    25.1         39.4
3     2012    4    21.6         31.6
4     2012    5    26.8         29.0
...    ...  ...     ...          ...
2945  2021  520    36.6         46.9
2946  2021  555    36.9         54.1
2947  2021  561    26.8         47.6
2948  2021  588    30.2         46.1
2949  2021  622    23.9         17.0

[2950 rows x 4 columns]

Question 2 (65 points)

In [5]:
# 1. How many missing values in each column? 

## Your code here - down ##
df.isna().sum()
## Your code here - up ##

Crop Year                0
RM                       0
Canola - bu/ac          45
Spring Wheat - bu/ac    51
dtype: int64

In [22]:
# 2. Find unique values of RMs(Rural Municipalities).

## Your code here - down ##
df['RM'].unique()
## Your code here - up ##

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  17,
        18,  19,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  42,
        43,  44,  45,  46,  49,  51,  61,  63,  64,  65,  66,  67,  68,
        69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  91,  92,
        93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105,
       106, 107, 108, 109, 110, 111, 121, 122, 123, 124, 125, 126, 127,
       128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 141,
       142, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162,
       163, 164, 165, 166, 167, 168, 169, 171, 181, 183, 184, 185, 186,
       187, 189, 190, 191, 193, 194, 211, 213, 214, 215, 216, 217, 218,
       219, 220, 221, 222, 223, 224, 225, 226, 228, 229, 230, 231, 232,
       241, 243, 244, 245, 246, 247, 248, 250, 251, 252, 253, 254, 255,
       256, 257, 259, 260, 261, 271, 273, 274, 275, 276, 277, 279, 280,
       281, 282, 283, 284, 285, 286, 287, 288, 290, 292, 301, 303, 304,
       305, 307, 308, 309, 310, 312, 313, 314, 315, 316, 317, 318, 319,
       320, 321, 322, 331, 333, 334, 335, 336, 337, 338, 339, 340, 341,
       342, 343, 344, 345, 346, 347, 349, 350, 351, 352, 366, 367, 368,
       369, 370, 371, 372, 373, 376, 377, 378, 379, 380, 381, 382, 394,
       395, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 409, 410,
       411, 426, 427, 428, 429, 430, 431, 434, 435, 436, 437, 438, 439,
       440, 442, 456, 457, 458, 459, 460, 461, 463, 464, 466, 467, 468,
       469, 470, 471, 472, 486, 487, 488, 490, 491, 493, 494, 496, 497,
       498, 499, 501, 502, 520, 555, 561, 588, 622], dtype=int64)

In [37]:
# 3. Use groupby() and find top 10 RMs in terms of average Canola yield through 10 years.

## Your code here - down ##
df.groupby('RM')['Canola - bu/ac'].max()
## Your code here - up ##

RM
1      39.9
2      41.3
3      37.3
4      39.1
5      35.1
       ...
520    48.1
555    50.4
561    50.3
588    48.1
622    48.6
Name: Canola - bu/ac, Length: 295, dtype: float64

In [38]:
# 4. Use groupby() function and find worst 10 RMs in terms of average Spring Wheat through 10 years.

## Your code here - down ##
df.groupby('RM')['Spring Wheat - bu/ac'].min()
## Your code here - up ##

RM
1      34.32
2      36.63
3      36.46
4      28.78
5      26.50
       ...
520    38.26
555    42.80
561    31.71
588    41.73
622    17.00
Name: Spring Wheat - bu/ac, Length: 295, dtype: float64

In [24]:
# 4. Use groupby() function and find worst 3 best years in terms of average Spring Wheat.

## Your code here - down ##
df = pd.DataFrame({'Spring Wheat - bu/ac': [34.32, 36.33, 36.46, 28.78, 26.50, 38.26, 42.80, 31.71, 41.73, 17.00], 
                   'group': ['worst 3']*10})
grouped = df.groupby('group')
min_3 = grouped['Spring Wheat - bu/ac'].nsmallest(3)

print(min_3)
## Your code here - up ##

group
worst 3  9    17.00
         4    26.50
         3    28.78
Name: Spring Wheat - bu/ac, dtype: float64

In [21]:
# 5. Use groupby() function and find worst 3 years in terms of average Spring Wheat through 10 years.

## Your code here - down ##

## Your code here - up ##

## Question 3 (10 points)

This task is independent exploratory data analysis. Find key insights from the dataset and share your code by creating new cells.

In [3]:
import pandas as pd # Library for data handling
df = pd.read_csv('Sask_RM_Data.csv')
df.head()
df.groupby('RM')['Canola - bu/ac'].std()

RM
1      5.808485
2      3.803742
3      4.054671
4      5.180384
5      3.400193
         ...
520    7.790932
555    9.358805
561    8.770096
588    8.168164
622    8.733994
Name: Canola - bu/ac, Length: 295, dtype: float64